{% extends "ticketSales/layout.html" %}

{% block titlepage %} 
    جزییات {{ concertdetails.Name }}
{% endblock%}

{% block mainContent %}
   
    <div class="col-md-10">
            
       <h3>نام کنسرت : {{concertdetails.Name }}</h3>
       <h3>خواننده کنسرت : {{concertdetails.SingerName }}</h3>
       <h3>مدت زمان کنسرت : {{concertdetails.lenght }}</h3>


    </div>
    <div class="col-md-2">
        
            <div class="imageBox">
                <img src="{{ concertdetails.Poster.url }}">
            </div>
       
    </div>

{% endblock%}