{% extends "ticketSales/layout.html" %}

{% block titlepage %} 
    لیست مکان های برگزاری کنسرت 
{% endblock%}

{% block mainContent %}

    <div class="row locationHeader">
        <div class="col-md-3">
            <h3>نام سالن</h3>
        </div>
        <div class="col-md-9">
        <h3>آدرس</h3>
        </div>
    </div>

    {% if locationlist %}
        {% for location in locationlist %}
          
            <div class="row location">
                <div class="col-md-3">
                    {{ location.Name }}
                </div>
                <div class="col-md-9">
                    {{ location.Address }}
                </div>
               
            </div>
           
        {% endfor %}
    {% endif %}

{% endblock%}
               
           