{% extends "ticketSales/layout.html" %}

{% block titlepage %} 
    لیست سانس ها
{% endblock%}

{% block mainContent %}
    {% if timelist %}
        {% for time in timelist %}
            <div class="col-md-2">
                <a>
                    <div class="timeBox">
                       <h2> {{ time.concertModel.Name  }}</h2>
                       <p>{{ time.concertModel.SingerName  }}</p>
                       <p>{{ time.locationModel.Name  }}</p>
                       <p>{{ time.get_jalai_date }}</p>
                       <div 
                       
                        class="
                        
                        {% if time.Status == time.Start %}
                            btn btn-success

                        {% elif  time.Status == time.End %}
                            btn btn-danger

                         {% elif  time.Status == time.Cancle %}
                            btn default

                        {% elif  time.Status == time.Sales %}
                            btn btn-primary

                        {% endif %}
                        
                        ">

                           {{ time.get_Status_display}}
                       </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}

{% endblock%}
               